[submodule "test/__fixtures__/product-output"]
	path = test/__fixtures__/product-output
	url = https://github.com/eins78/meteoswiss-testdata.git
[submodule "vendor/meteoswiss-data"]
	path = vendor/meteoswiss-data
	url = https://github.com/eins78/meteoswiss-data.git
